{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}
<main>
  <div class="container">

    <div class="row">
    {% for restaurant in restaurants %}
    <!-- loop 3 times -->
      <div class="col-md-4">
        <a href="restaurants/{{ restaurant.id }}">
          <h2>{{ restaurant.name }}</h2>
          <p>{{ restaurant.type }}</p>
          <img class="img-responsive" src="{{ restaurant.pic_url }}" alt="" />
          <p>{{ restaurant.rating }}</p>
          <p>{{ restaurant.description }}</p>
        </a>
      </div>
    {% endfor %}
    </div>
  </div>
</main>
{% endblock %}
