{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}
<main>
  <div class="container">
    <button type="button" class="btn btn-success btn-block add-restaurant" data-toggle="modal" data-target="#myModal">Add Restaurant</button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form method="post" action="/restaurants">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Add Restaurant</h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Maggianos" name="name">
              </div>
              <div class="form-group">
                <label for="type">Type</label>
                <select class="form-control" id="type" name="type">
                  <option value="American">American</option>
                  <option value="Italian">Italian</option>
                  <option value="Greek">Greek</option>
                  <option value="Steakhouse">Steakhouse</option>
                  <option value="Tapas">Tapas</option>
                  <option value="Ramen">Ramen</option>
                  <option value="BBQ">BBQ</option>
                  <option value="Chinese">Chinese</option>
                </select>
              </div>
              <div class="form-group">
                <label for="pic-url">Pic Url</label>
                <input type="url" class="form-control" id="pic-url" placeholder="http://unsplash.com/photo.jpg" name="pic_url">
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" placeholder="" rows="5" name="description"></textarea>
              </div>
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col-sm-6 margin">
                  <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
                </div>
                <div class="col-sm-6">
                  <button type="submit" class="btn btn-success btn-block">Add</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    {% for restaurant in restaurants %}
    {% if loop.index0 % 3 == 0 %}
      <div class="row">
    {% endif %}
    <!-- loop 3 times -->
      <div class="col-md-4">
        <a href="/restaurants/{{ restaurant.id }}">
          <h2>{{ restaurant.name }}</h2>
          <p>{{ restaurant.type }}</p>
          <img src="{{ restaurant.pic_url }}" alt="" />
          {% if restaurant.rating < 0 or restaurant.rating <= 0.5 %}
          <p>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if restaurant.rating > 0.5 and restaurant.rating <= 1 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if restaurant.rating > 1 and restaurant.rating <= 1.5 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if restaurant.rating > 1.5 and restaurant.rating <= 2 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if restaurant.rating > 2 and restaurant.rating <= 2.5 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if restaurant.rating > 2.5 and restaurant.rating <= 3 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if restaurant.rating > 3 and restaurant.rating <= 3.5 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if restaurant.rating > 3.5 and restaurant.rating <= 4 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if restaurant.rating > 4 and restaurant.rating <= 4.5 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if restaurant.rating > 4.5 or restaurant.rating >= 5 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </p>
          {% endif %}
          <p>{{ restaurant.description }}</p>
        </a>
      </div>
    {% if (loop.index0 - 2) % 3 == 0 %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</main>
{% endblock %}
