{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}
<main>
  <div class="container">
    <button type="button" class="btn btn-success btn-block add-restaurant">Add Restaurant</button>

    {% for restaurant in restaurants %}
    {% if loop.index0 % 3 == 0 %}
      <div class="row">
    {% endif %}
    <!-- loop 3 times -->
      <div class="col-md-4">
        <a href="restaurants/{{ restaurant.id }}">
          <h2>{{ restaurant.name }}</h2>
          <p>{{ restaurant.type }}</p>
          <img src="{{ restaurant.pic_url }}" alt="" />
          <p>{{ restaurant.rating }}</p>
          <p>{{ restaurant.description }}</p>
        </a>
      </div>
    {% if (loop.index0 - 2) % 3 == 0 %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</main>
{% endblock %}
