{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a href="restaurants/{{ featured[0].id }}">
          <h2>{{ featured[0].name }}</h2>
          <p>{{ featured[0].type }}</p>
          <img class="img-responsive" src="{{ featured[0].pic_url }}" alt="" />
          <p>{{ featured[0].rating }}</p>
          <p>{{ featured[0].description }}</p>
        </a>
      </div>
      <div class="col-md-4">
        <a href="restaurants/{{ featured[1].id }}">
          <h2>{{ featured[1].name }}</h2>
          <p>{{ featured[1].type }}</p>
          <img class="img-responsive" src="{{ featured[1].pic_url }}" alt="" />
          <p>{{ featured[1].rating }}</p>
          <p>{{ featured[1].description }}</p>
        </a>
      </div>
      <div class="col-md-4">
        <a href="restaurants/{{ featured[2].id }}">
          <h2>{{ featured[2].name }}</h2>
          <p>{{ featured[2].type }}</p>
          <img class="img-responsive" src="{{ featured[2].pic_url }}" alt="" />
          <p>{{ featured[2].rating }}</p>
          <p>{{ featured[2].description }}</p>
        </a>
      </div>
    </div>
  </div>
</main>
{% endblock %}
