{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}
<main>
  <div class="background-image">
    <h1><i class="fa fa-cutlery" aria-hidden="true"></i> fork.me</h1>
  </div>
  <div class="container">
    <div class="row">
      {% for feature in featured %}
      <div class="col-md-4">
        <a href="restaurants/{{ feature.id }}">
          <h2>{{ feature.name }}</h2>
          <p>{{ feature.type }}</p>
          <img src="{{ feature.pic_url }}" alt="" />

          {% if feature.rating < 0 or feature.rating <= 0.5 %}
          <p>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if feature.rating > 0.5 and feature.rating <= 1 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if feature.rating > 1 and feature.rating <= 1.5 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if feature.rating > 1.5 and feature.rating <= 2 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if feature.rating > 2 and feature.rating <= 2.5 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if feature.rating > 2.5 and feature.rating <= 3 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if feature.rating > 3 and feature.rating <= 3.5 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if feature.rating > 3.5 and feature.rating <= 4 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if feature.rating > 4 and feature.rating <= 4.5 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if feature.rating > 4.5 or feature.rating >= 5 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </p>
          {% endif %}

          <p>{{ feature.description }}</p>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</main>
{% endblock %}
