{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-success btn-block add-restaurant" data-toggle="modal" data-target="#myModal">Edit Restaurant</button>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <form id="edit-restaurant" data-id="{{ id }}">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Edit Restaurant</h4>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Maggianos" name="name" value="{{ name }}">
                      </div>
                      <div class="form-group">
                        <label for="type">Type</label>
                        <select class="form-control" id="type" name="type">

                          <option value="American" {% if type == 'American' %} selected {% endif %}>American</option>

                          <option value="Italian" {% if type == 'Italian' %} selected {% endif %}>Italian</option>

                          <option value="Greek" {% if type == 'Greek' %} selected {% endif %}>Greek</option>

                          <option value="Steakhouse" {% if type == 'Steakhouse' %} selected {% endif %}>Steakhouse</option>

                          <option value="Tapas" {% if type == 'Tapas' %} selected {% endif %}>Tapas</option>

                          <option value="Ramen" {% if type == 'Ramen' %} selected {% endif %}>Ramen</option>

                          <option value="BBQ" {% if type == 'BBQ' %} selected {% endif %}>BBQ</option>

                          <option value="Chinese" {% if type == 'Chinese' %} selected {% endif %}>Chinese</option>

                        </select>
                      </div>
                      <div class="form-group">
                        <label for="pic-url">Pic Url</label>
                        <input type="url" class="form-control" id="pic-url" placeholder="http://unsplash.com/photo.jpg" name="pic_url" value="{{ pic_url }}">
                      </div>
                      <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" placeholder="" rows="5" name="description">{{ description }}</textarea>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <div class="row">
                        <div class="col-sm-6 margin">
                          <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class="col-sm-6">
                          <button type="submit" class="btn btn-success btn-block">Edit</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <button id="delete-restaurant" type="button" class="btn btn-danger delete-restaurant btn-block" data-id="{{ id }}">Delete</button>
          </div>
        </div>
        <h2>{{ name }}</h2>
        <img src="{{ pic_url }}" alt="" />
          {% if average < 0 or average <= 0.5 %}
          <p>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if average > 0.5 and average <= 1 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if average > 1 and average <= 1.5 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if average > 1.5 and average <= 2 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if average > 2 and average <= 2.5 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if average > 2.5 and average <= 3 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if average > 3 and average <= 3.5 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if average > 3.5 and average <= 4 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if average > 4 and average <= 4.5 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
          </p>
          {% endif %}

          {% if average > 4.5 or average >= 5 %}
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </p>
          {% endif %}
        <p>{{ type }}</p>
        <p>{{ description }}</p>
      </div>
      <div class="col-md-6">
        <button type="button" name="button" class="btn btn-success btn-block add-comment">Add Comment</button>
        <h2 class="text-center">Reviews</h2>
        {% for comment in comments %}
        <p class="text-center">{{ comment.first_name }} {{ comment.last_name }} said:</p>
        {% if comment.rating < 0 or comment.rating <= 0.5 %}
        <p class="text-center">
          <i class="fa fa-star-half-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </p>
        {% endif %}

        {% if comment.rating > 0.5 and comment.rating <= 1 %}
        <p class="text-center">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </p>
        {% endif %}

        {% if comment.rating > 1 and comment.rating <= 1.5 %}
        <p class="text-center">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-half-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </p>
        {% endif %}

        {% if comment.rating > 1.5 and comment.rating <= 2 %}
        <p class="text-center">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </p>
        {% endif %}

        {% if comment.rating > 2 and comment.rating <= 2.5 %}
        <p class="text-center">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-half-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </p>
        {% endif %}

        {% if comment.rating > 2.5 and comment.rating <= 3 %}
        <p class="text-center">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </p>
        {% endif %}

        {% if comment.rating > 3 and comment.rating <= 3.5 %}
        <p class="text-center">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-half-o" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </p>
        {% endif %}

        {% if comment.rating > 3.5 and comment.rating <= 4 %}
        <p class="text-center">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-o" aria-hidden="true"></i>
        </p>
        {% endif %}

        {% if comment.rating > 4 and comment.rating <= 4.5 %}
        <p class="text-center">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star-half-o" aria-hidden="true"></i>
        </p>
        {% endif %}

        {% if comment.rating > 4.5 or comment.rating >= 5 %}
        <p class="text-center">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </p>
        {% endif %}
        <p class="text-center">{{ comment.comment }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
