{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-success btn-block add-restaurant" data-toggle="modal" data-target="#myModal">Edit Restaurant</button>
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <form method="post" action="/">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Edit Restaurant</h4>
                    </div>
                    <div class="modal-body">
                      <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Maggianos">
                      </div>
                      <div class="form-group">
                        <label for="type">Type</label>
                        <select class="form-control" id="type">
                          <option>type here</option>
                          <option>type here</option>
                          <option>type here</option>
                          <option>type here</option>
                          <option>type here</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="pic-url">Pic Url</label>
                        <input type="url" class="form-control" id="pic-url" placeholder="http://unsplash.com/photo.jpg">
                      </div>
                      <div class="form-group">
                        <label for="" class="rating">Rating</label>
                        <label class="radio-inline">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option3"> 4
                        </label>
                        <label class="radio-inline">
                          <input type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option3"> 5
                        </label>
                      </div>
                      <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" placeholder="" rows="5"></textarea>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <div class="row">
                        <div class="col-sm-6 margin">
                          <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class="col-sm-6">
                          <button type="submit" class="btn btn-success btn-block">Edit</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-danger delete-restaurant btn-block">Delete</button>
          </div>
        </div>
        <h2>{{ name }}</h2>
        <img src="{{ pic_url }}" alt="" />
        <p>{{ rating }}</p>
        <p>{{ type }}</p>
        <p>{{ description }}</p>
      </div>
      <div class="col-md-6">
        <h2 class="text-center">Reviews</h2>
      </div>
    </div>
  </div>
</main>
{% endblock %}
