{% extends "_base.html" %}

{% block title %}{% endblock %}

{% block content %}

<div class="container">
    <div class="form-page-container">
      <form class="col-md-12 signup-form" action="/signup" method="post" name="signup-form">
        <div class="form-group">
          <h1>User Profile</h1>
        </div>
        <div class="avatar-image">
          <img src="/images/defaultAvatar.png" alt="You. Here!" id="user-image">
          <input type="file" class="user-image" accept="image/*">
          <input type="submit" class="image-submit">
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label for="preferredName">Preferred Name</label>
              <input class="form-control" type="text" name="preferredName" placeholder="First Name" id="preferredName">
            </div>
            <div class="col-md-6">
              <label for="lastName">Last Name</label>
              <input class="form-control" type="text" name="lastName" placeholder="Last Name" id="lastName">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-6">
              <label for="email">Email</label>
              <input class="form-control" type="email" name="email" placeholder="example@example.com" id="email">
            </div>
            <div class="col-md-6">
              <label for="password">Change Password</label>
              <input class="form-control change-password" type="password" name="password" placeholder="current password" id="passwordChange"></input>
              <input class="form-control change-password" type="password" name="password" placeholder="new password" id="passwordNew"></input>
              <input class="form-control change-password" type="password" name="password" placeholder="confirm new password" id="passwordConfirm"></input>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-secondary btn-md" type="submit" name="submit" id="btn-signup">Update!</button>
          <button class="btn btn-secondary btn-md" type="submit" name="logout" id="btn-signup">Log out!</button>
        </div>
      </form>
      <div class="errors">
        {{errors}}
      </div>
      <div class="users-comments">
        <h1>All the comments you've left:</h1>
        {% for comment in comments %}
        <div class="commentsUser {{comment.id}}" data-id="{{comment.user_id}}">
          <h2>{{comment.name}}</h2>
          <div>{{comment.rating}}</div>
          <p>{{comment.comment}}</p>
        </div>
        {% endfor %}
      </div>
    </div>
</div>

{% endblock %}
